/* @keyframes marqueeUp {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes marqueeDown {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  .animate-marquee-up {
    animation: marqueeUp 30s linear infinite;
  }
  
  .animate-marquee-down {
    animation: marqueeDown 30s linear infinite;
  }
  
  .marquee-container {
    height: 600px;
    overflow: hidden;
    position: relative;
  }
  
  .marquee-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  } */