@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {

   /* Primary & Secondary */
  --color-primary: #335fff;
  --color-secondary: #2c23e8;
  
  /* Accent Colors */
  --color-accent-green: #28b673;
  --color-accent-yellow: #ffd333;
  
  /* Functional & BG */
  --color-dark-bg: #1b1b35;
  --color-functional: #cb264d;
  --color-functional-light: #ff744d;
  --color-light-bg: #f0f4ff;
  
  /* Text Colors */
  --color-text-primary: #24262b;
  --color-text-secondary: #3d4048;
  --color-text-disabled: #c4c7ce;
  
  /* Gradient Colors */
  --color-gradient-start: #335fff;
  --color-gradient-end: #2c23e8;
  
 /* break-point */
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1791px;
}



body {
  color: var(--color-text-primary);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}